body{
    background-color: #f9f3f3;
}
hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img{
    width: 150;
    height: 150;
    border-radius:50%;
}
h1{
    color: #f25287;
}
h3{
    color: #f25287;
}